<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Muearly (feat.Bome)</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="?time=00">00:00</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="?time=10">10:00</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="?time=14">14:00</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="?time=18">18:00</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
